{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    <main class="checkout">
        <div class=" vh-10 primary-color">
            <div class="container">
               <h2 class="m-0 p-3">Checkout</h2>
            </div>
        </div>

        <div class="container">
            <div class="row my-5">        
                <div class="col-sm-6">
                 <form method="POST">
                    <div class="address bg-cart border p-3">
                        <h3>ENDEREÇO DE ENTREGA</h3>

<!-- FORM-->
                            
                            {% csrf_token %}
                            {{ form | crispy }}

                    </div>
                    <button type="submit" class="btn btn-lg btn-block btn-dark mt-3" >FAZER PEDIDO</button>
                    </form>
                </div>
                
                <!-- TOTAL -->
                <div class="col-md-5 offset-md-1">
                    <div class="total bg-cart border p-3">
                    <h3>ORDEM</h3>
                    

                    <div class="d-flex flex-row justify-content-between align-items-center border-bottom py-3">
                        <div><a href="#"><img src="{% static 'images/candle.jpg' %}" class="img-fluid vh-10" alt="candle"></a></div>
                        <div><a href="#">Anel</a></div>
                        <div>R$130 <span class="discount"> R$99</span></div>
                        <div><a href="#">X</a></div>
                    </div>
                    <div class="d-flex flex-row justify-content-between align-items-center border-bottom py-3">
                        <div><a href="#"><img src="{% static 'images/candle.jpg' %}" class="img-fluid vh-10" alt="candle"></a></div>
                        <div><a href="#">Anel</a></div>
                        <div>R$130 <span class="discount"> R$99</span></div>
                        <div><a href="#">X</a></div>
                    </div>
                    <div class="d-flex flex-row justify-content-between align-items-center border-bottom py-3">
                        <div><a href="#"><img src="{% static 'images/candle.jpg' %}" class="img-fluid vh-10" alt="candle"></a></div>
                        <div><a href="#">Anel</a></div>
                        <div>R$130 <span class="discount"> R$99</span></div>
                        <div><a href="#">X</a></div>
                    </div>




                    <div class="items py-3">
                        <div class="row">
                            <div class="col">
                                <p>Itens</p>
                            </div>
                            <div class="col">
                                <p>R$189</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p>Frete</p>
                            </div>
                            <div class="col">
                                <p>R$10</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p class="discount">Disconto</p>
                            </div>
                            <div class="col">
                                <p class="discount">R$29</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <strong>Preço Total</strong>
                            </div>
                            <div class="col">
                                <strong>R$170</strong>
                            </div>
                        </div>
                        </div>                       
                    </div>
                </div>                
            </div>
            </div>
        </div>
    </main>
 
{% endblock content %}