{% extends 'base.html' %}
{% load static %}


{% block content %}
    <div class="container">
        <div class="row product">
            <div class="col-md-2">
                <a href="#">
                    <img src="{% static 'images/candle.jpg' %}" class="img-fluid border my-3" alt="">
                </a>
                <a href="#">
                    <img src="{% static 'images/candle.jpg' %}" class="img-fluid border my-3" alt="">
                </a>
                <a href="#">
                    <img src="{% static 'images/candle.jpg' %}" class="img-fluid border my-3" alt="">
                </a>
            </div>
            <div class="col-md-5">
                <img src="{% static 'images/candle.jpg' %}" class="img-fluid">
            </div>
            <div class="col-md-5">
                <h2>{{ object.title }}</h2>
                <h5>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla, minus. Corrupti, voluptatem libero! Animi quo officiis hic odio ex assumenda nostrum! Perferendis alias nobis accusamus maiores sequi sed, voluptatem natus.
                </h5>
                <div class="prices">
                    {% if object.discount_price %}
                    <h3 class="discount">
                    <span class="pr-3">R${{object.price}}</span>R${{ object.discount_price }}</h3>
                    {% else %}
                        <h4>R${{object.price}}</h4>
                    {% endif %}


                   
                </div>
                <div class="col-sm-6 pl-0 py-3">
                    <div class="input-group">
                        <select class="custom-select">
                            <option selected>1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                        <div class="input-group-append">
                            <label class="input-group-text" for="">Comprar</label>
                        </div>
                    </div>
                </div>
                <h3>Descrição</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio, repellat, debitis placeat atque molestias laboriosam cum necessitatibus possimus ipsum nihil perspiciatis itaque tempore corporis dolores natus perferendis! Ratione quam quaerat laboriosam autem ipsum omnis esse nostrum cumque debitis, saepe perferendis tempore eaque repellat natus delectus impedit, est facilis corrupti soluta.</p>
            </div>
        </div>
    </div>
{% endblock content %}