   {% extends 'base.html' %}
   {% load static %}

   {% block content %}
    <main>
        <div class="container">
            <div class="row py-3">
                <div class="col-md-2 border-right">
                    <h2>Preço </h2>
                    <ul>
                        <li>0-50</li>
                        <li>50-100</li>
                        <li>100-150</li>
                        <li>150-300</li>
                        <li>300-500</li>
                        <li>500-...</li>
                    </ul>
                    <h2>Categorias</h2>
                    <ul>
                        <li>Presentes</li>
                        <li>Arte &#38; Colecionáveis</li>
                        <li>Suprimentos</li>
                        <li>...</li>
                    </ul>
                    <h2>Localização</h2>
                    <ul>
                        <li>São Paulo</li>
                        <li>Paraná</li>
                        <li>Santa Catarina</li>
                        <li>Minas Gerais</li>
                        <li>...</li>
                    </ul>
                </div>
                <div class="col-md-10">
                    <div class="row">

                    {% for item in object_list %}
                    <div class="col-md-3 py-3">
                            <div class="card">
                                <a href="{{ item.get_absolute_url}}">
                                    <img src="{% static 'images/candle.jpg' %}" class="card-img-top" alt="candle  ">
                                    <div class="card-body">
                                        <h5 class="card-title text-center">{{item.title}}</h5>
                                        <p class="text-center">
                                        {% if item.discount_price %}
                                        <span class="original-price mr-1">R${{ item.price }}</span>
                                    R${{ item.discount_price }}
                                        {% else %}
                                        R${{ item.price }}
                                        {% endif %}
                                        </p>
                                    </div>
                                </a>
                            </div>
                    </div>
                    {% endfor %}
                    
                </div>
                    <nav class="py-3">
                        <ul class="pagination justify-content-center">
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                                <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item active" aria-current="page">
                                <a href="" class="page-link">1
                                    <span class="sr-only">(current)</span>
                                </a>
                            </li>
                            <li class="page-item"><a href="" class="page-link">2</a></li>
                            <li class="page-item"><a href="" class="page-link">3</a></li>
                            <li class="page-item"><a href="" class="page-link">4</a></li>
                            <li class="page-item"><a href="" class="page-link">5</a></li>
                            <li class="page-item"><a href="" class="page-link">6</a></li>
                            <li class="page-item"><a href="" class="page-link">7</a></li>
                            <li class="page-item"><a href="" class="page-link">8</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </main>
 {% endblock content %}